@import url(https://fonts.google.com/specimen/Outfit);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

.qr-container {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color:  hsl(217, 81%, 90%);
    justify-content: center;
}

.qr-cover {
    display: inline-block;
    background-color:hsl(0, 0%, 100%);
    width: 25%;
    text-align: center;
    border-radius: 20px;
    height: 60%;
}

.qr-image {
    width: 90%;
    height: 53%;
    border-radius: 20px;
    margin: 0.7rem;
}

.qr-main-text {
    margin: 1rem 1.2rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    font-size: x-large;
}

.qr-text {
    text-align: center;
    margin: 1.5rem;
    font-weight: 400;
    color: hsl(220, 15%, 55%); 
    font-size: 15px;  
}

/* Mobile: 375px
- Desktop: 1440px */

@media only screen and (min-width: 820px) and (max-width: 1220px){
    .qr-cover {
        width: 30%;
        height: 75%;
    }
    .qr-main-text {
        margin: 1rem;
        font-weight: 700;
        font-size: larger;
    }
    .qr-text {
        margin: 1rem;
        font-weight: 400;
        font-size: 15px; 
    }
   
}


@media only screen and (min-width: 470px) and (max-width: 810px) {
    .qr-cover {
        width: 50%;
        height: 80%;
    }
    .qr-main-text {
        margin: 1.2rem;
        font-weight: 700;
        font-size: x-large;
    }
    .qr-text {
        margin: 1.2rem;
        font-weight: 400;
        font-size: 15px; 
    }
    
}

@media only screen and (min-width: 200px) and (max-width: 450px) {
    .qr-cover {
        width: 82%;
        height: 70%;
    }
    .qr-main-text {
        margin: 5px;
        font-size: x-large;
        font-weight: 700;
    }
    .qr-text {
        margin: 1rem;
        font-size: 15px; 
    }
  
}